.primaryButton {
  width: 100%;
  height: 48px;
  border-radius: var(--radius);
  border: none;
  background: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  font-family: sans-serif;
}

.primaryButton:hover {
  opacity: 0.9;
  background: hsl(var(--primary)) !important;
}
